.boxes {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 65%;
}
.box {
    position: relative;
    width: 30%;
    margin: 20px;
    background-color: #070F4E;
    border: solid 2px #2772DB;
    border-radius: 5px;
}
.box-Img img {
    width: 100%;
}
.status {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: #070F4E;
    border-radius: 8px;
}
.status p {
    padding: 5px 10px;
    color: #F4F4F2;
}
.character-Info {
    margin: 10px 0;
}
.name,.location {
    padding: 3px;
    font-size: 18px;
    color: #F4F4F2;
}