.spaceFilter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	border-width: 100%;
	border-bottom: 1px solid black;
}

.btn {
	width: 15%;
}
.spacesList {
	display: none;
}
.spacesList-active {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 10px;
}

.space {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 40%;
	margin: 10px 0 10px 15px;
}

@media screen and (max-width: 768px) {
	.space {
		width: 40%;
	}
	.space-name {
		font-size: 16px;
	}
	input {
		margin: 5px 0;
		transform: scale(1.3);
	}
	.btn-togger {
		width: 25%;
		margin: 0;
	}

	@media screen and (max-width: 320px) {
		.space {
			width: 100%;
		}
	}
}
