.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background:  #070F4E;
}

.nav-logo {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 28px;
  margin-left: 25px;
  background: linear-gradient(164deg, rgba(91,207,36,1) 18%, rgba(205,31,16,1) 45%, rgba(11,11,11,1) 81%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-logo span {
  background: linear-gradient(22deg, rgba(91,207,36,1) 24%, rgba(228,68,8,1) 71%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
li {
  list-style: none;
  margin-right: 50px;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #F5EBEB;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-toggler {
  display: none;
}
.nav-toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #F4F4F2;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
    cursor: pointer;
  }
  .nav-logo {
    font-size: 16px;
  }
  .nav-menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: #070F4E;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  li {
    margin-right: -5px;
  }
}
.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}